.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
    margin-bottom: 50px;
    height: 35px;
    width: 300px;
    font-size: 0.7em;
}

li {
    list-style: none;
    color: black;
}

#id {
    font-size: 0.8em;
    font-weight: bold;
}

#gene {
    color: red;
}

#summary {
    font-size: 0.6em;
}

#tpm {
    color: #61dafb;
}


